.success-icon{
  font-size: 5rem;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.list-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.list-value {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0370C5;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #0370C5;
}

.success-btn{
  font-size: 1.3rem;
  background: #333;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  width: 200px;
  margin-top: 50px;
}